@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

* {
  font-family: Roboto;
}

html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 52px;
  text-align: center;
  text-transform: uppercase;
  margin: 64px;
}

#game-start {
  display: none;
  padding: 20px 0px;
}

#game-container {
  display: none; /* change to flex later */
  width: 100vw;
  padding: 20px 0px;
  justify-content: left;
  margin: 44px;
}

#game-container p {
  font-weight: bold;
}
  
#game-screen {
  display: none;
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
}

#game-end {
    display: block;
}

#game-start p {
  font-size: 20px;
  font-weight: 300;
}

.arrows-img {
  width: 150px;
  margin: 40px;
}

body button {
    font-size: 30px;
    font-family: 'Roboto Condensed';
    background-color: #C86DD7;
    color: #fff;
    padding: 12px 28px;
    border: 0;
    box-shadow: 2px 2px 10px 0 #9D3BAD;
    border-radius: 32px;
    margin-bottom: 20px;
}