@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

* {
  font-family: Roboto;
}

html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 52px;
  text-align: center;
  text-transform: uppercase;
  margin: 64px;
  color: #33011b;
  padding: 48px;
}

#game-start {
  display: block;
  background-image: url(../images/start-background.png);
  background-size: cover;
  height: 543px;
  width: 1000px;
  top: 50%;
  left: 50%;
}

#game-container {
  display: flex; 
  width: 100vw;
  padding: 20px 0px;
  justify-content: left;
  margin: 44px;
}

#game-container p {
  font-weight: bold;
  color: #06bfb1;
  position: absolute;
  z-index: 2;
  right: 100px;
  top: 32px;
  margin: 0;
  font-size: 36px;
}

#lives-counter {
  background-color: #c2fff7;
  /* background-color: black; */
  position: absolute;
  z-index: 3;
  right: 612px;
  top: 16px;
  height: 68px;
  width: 20px;
  opacity: 1;
}
  
#game-screen {
  display: block;
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/first-screen.png);
  background-size: cover;
  z-index: 1;
}

#game-end {
  display: none;
  background-image: url(../images/start-background.png);
  height: 538px;
  width: 951px;
  background-size: cover;
}

#game-start p {
  font-size: 24px;
  font-weight: bold;
  color: #ff87c3;
  text-align: center;
  line-height: 10px;
}

body button {
    font-size: 32px;
    font-family: 'Roboto Condensed';
    top: 617px;
    left: 399px;
    position: absolute;
    background-color: white;
    border: 2px solid black;
    color: #FF739E; 
    padding: 12px 42px;
    border-radius: 20px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}

#start-button {
  top: 71px;
  left: 474px;
}

#start-instructions {
  background-color: white;
  border: 2px solid black;
  color: #FF739E; 
  padding: 6px 26px;
  border-radius: 20px; 
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin: 4px 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  width: 524px;
  height: 50px;
  top: 442px;
  left: 28px;
}

#restart-button {
  top: 574px;
  left: 434px;
}
