@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  font-family: Roboto;
  box-sizing: border-box;
}

html,
main,
body {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 71px;
  text-align: center;
  text-transform: uppercase;
  margin: 50px;
  color: #250038;
  padding: 48px;
  -webkit-text-stroke: 2px white;
}

#game-start {
  display: block;
  background-image: url(../images/start-background.png);
  background-size: cover;
  height: 680px;
  width: 1210px;
}

#game-container {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#game-container p {
  font-weight: bold;
  color: #06bfb1;
  position: absolute;
  z-index: 2;
  right: 100px;
  top: 32px;
  margin: 0;
  font-size: 36px;
}

#lives-counter {
  background-color: #c2fff7;
  position: absolute;
  z-index: 3;
  right: 808px;
  top: 16px;
  height: 68px;
  width: 20px;
}

#game-screen {
  display: block;
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/first-screen.png);
  background-size: cover;
  z-index: 1;
  height: 680px;
  width: 1210px;
}

#game-end {
  display: none;
  background-image: url(../images/start-background.png);
  height: 680px;
  width: 1210px;
  background-size: cover;
}

#game-start p {
  font-size: 17px;
  color: black;
  text-align: center;
  line-height: 22px;
  font-family: "Press Start 2P", system-ui;
}

body button {
  font-size: 32px;
  font-family: "Roboto Condensed";
  background-color: #a08cec;
  border: 2px solid black;
  color: white;
  padding: 12px 42px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#start-instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  color: #ff739e;
  padding: 6px 26px;
  border-radius: 20px;
  text-decoration: none;
  position: relative;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 524px;
  height: 68px;
  top: 547px;
}

#restart-button {
  margin-top: 130px;
}
